.advantages
  margin-bottom: 95px

  &__wrapper
    padding: 30px 0
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-template-rows: 140px
    box-shadow: 0px 20px 45px 0px rgba(0,0,0,0.15);
    position: relative

  &__item
    display: flex
    justify-content: center
    align-items: center

    &:not(:last-child)
      border-right: 2px solid #eeeff2

  &__item-svg
    position: relative
    margin-right: 50px
    height: 25px
    svg
      width: 25px
      height: 25px
      fill: $icon-color
    &::before
      position: absolute
      content: ""
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      width: 55px
      height: 55px
      border-radius: 50%
      background-color: #ffecec
      z-index: -1

  &__item-content 
    display: flex
    flex-direction: column
    font-size: 20px
    line-height: 30px
    color: $grayColorText
    span
      +rubik-bold
      font-size: 25px
      color: #0b132a
