+font("Rubik-Regular", Rubik-Regular)
+font("Rubik-Medium", Rubik-Medium)
+font("Rubik-Bold", Rubik-Bold)

=rubik-regular
	font-family: Rubik-Regular, sans-serif
=rubik-medium
	font-family: Rubik-Medium, sans-serif
=rubik-bold
	font-family: Rubik-Bold, sans-serif

body
	background: #fff
	+rubik-regular
	font-size: 16px
	line-height: 30px
	color: #4f5665

a
	text-decoration: none

.page
	overflow: hidden

.container
	max-width: 1120px
	width: 100%
	margin: 0 auto
	padding: 0 15px

.logo
	display: flex
	align-items: center
	color: $darkBlueColorTitle

	svg
		width: 35px
		height: 35px
		fill: $icon-color 

	&__text
		+rubik-medium
		font-size: 20px
		margin-left: 10px

.super-btn
	+rubik-medium
	font-size: 16px
	line-height: 30px
	color: $redBG
	background: transparent
	border: 1px solid $redBG
	border-radius: 50px
	padding: 6px 45px
	&:hover
		background-color: $redBG
		color: #fff
		box-shadow: 0px 15px 45px 0px rgba(245,56,56, 0.4)

.started-btn
	+rubik-bold
	font-size: 16px
	line-height: 30px
	color: #fff
	border: bone
	background-color: #F53838
	border-radius: 10px
	padding: 15px 75px
	box-shadow: 0px 20px 45px 0px rgba(245,56,56, 0.5)

.super-content
	max-width: 550px
	width: 100%
	margin: 0 auto 50px
	text-align: center
	&__title
		max-width: 420px
		width: 100%
		margin: 0 auto

		+rubik-medium
		font-size: 35px
		line-height: 50px
		color: #0b132a
		margin-bottom: 20px
	&__text
		color: #4f5665
