.testimonials
  padding: 50px 0 180px
  &__slider
    position: relative
    width: 100vw
    margin-bottom: 50px
    
  &__btns
    text-align: right
  &__btns-prev,
  &__btns-next
    font-size: 20px
    width: 60px
    height: 60px
    border-radius: 50%
    border: 2px solid $redBG
    background-color: $redBG
    color: #fff
    &.slick-disabled
      background-color: transparent
      color: $redBG
      
  &__btns-prev
    margin-right: 20px
    

  &__item
    max-width: 400px
    width: 100%
    // min-height: 100%
    // display: flex
    // flex-direction: column
    padding: 30px
    border: 2px solid #ddd
    border-radius: 10px
    margin-right: 50px

  &__author
    display: flex
    justify-content: space-between
    align-items: center

  &__author-img
    margin-right: 20px
    width: 50px
    height: 50px
    border-radius: 50%

  &__author-rate
    margin-left: auto


.slick-dots
  position: absolute
  top: 310px
  left: 0
  width: 80px
  li.slick-active button:before
    background-color: red

  .slick-active button:before
    width: 20px
    border-radius: 12px

.slick-slide

  &.slick-current
    .testimonials__item
      border: 2px solid red
