---
title: LaslesVPN
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% import "data/data.html" as data %}

<!-- BEGIN promo -->
<section class="promo">
	<!-- BEGIN promo__content -->
	<div class="promo__content">
		<h1 class="promo__content-title">
			<!-- {{data.promo.title}} -->
			Want anything to be easy with <span>LaslesVPN.</span>
		</h1>
		<p class="promo__content-text">
			<!-- {{data.promo.text}} -->
			Provide a network for all your needs with ease and fun using <span>LaslesVPN</span> discover interesting
			features from us.
		</p>
		<button class="button-main">
			{{data.promo.button}}
		</button>
	</div>
	<!-- END promo__content -->
	<!-- BEGIN promo__image -->
	<div class="promo__image">
		<img loading="lazy" decoding="async" src="{{data.promo.image}}" alt="promo image" class="promo__image-img" />
	</div>
	<!-- END promo__image -->
	<!-- BEGIN advantages -->
	<div class="advantages">
		{% for item in data.advantages %}
		<div class="advantages__item">
			<div class="advantages__item-svg">
				{{ mixins.icon(item.icon) }}
			</div>
			<div class="advantages__item-content">
				<span>{{item.number}}+</span>
				{{item.text}}
			</div>
		</div>
		{% endfor %}
	</div>
	<!-- END advantages -->
</section>
<!-- END promo -->

<!-- BEGIN features-->
<section class="features">
	<img loading="lazy" decoding="async" src="{{data.features.image}}" alt="feature image" class="features__image" />
	<div class="features__content">
		<div class="super-content super-content_features">
			<h2 class="super-content__title super-content__title_features">
				{{data.features.title}}
			</h2>
			<p class="super-content__text">
				{{data.features.text}}
			</p>
		</div>
		<ul class="features__list">
			{% for item in data.features.list %}
			<li class="features__list-item">{{ mixins.icon('check-circle') }}{{item.title}}.</li>
			{% endfor %}
		</ul>
	</div>
</section>
<!-- END features-->


<!-- BEGIN rates -->
<section class="rates">
	<div class="super-content">
		<h2 class="super-content__title">
			{{data.rates.title}}
		</h2>
		<p class="super-content__text">
			{{data.rates.text}}
		</p>
	</div>
	<div class="rates__wrapper">
		{% for item in data.rates.plans %}
		<div class="rates__item">
			<img loading="lazy" decoding="async" src="{{item.image}}" alt="Plan" class="rates__item-img" />
			<h4 class="rates__item-title">
				{{item.title}}
			</h4>
			<ul class="rates__list">
				{% for item in item.list %}
				<li class="rates__list-item">{{ mixins.icon('check') }}{{item.title}}</li>
				{% endfor %}
			</ul>
			<div class="rates__price">
				<h5 class="rates__price-title">
					{{item.price}} <span>{{item.month}}</span>
				</h5>
				<button class="button-border rates__price-btn">
					{{item.button}}
				</button>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<!-- BEGIN rates -->

<!-- BEGIN global-network -->
<section class="global-network">
	<div class="super-content">
		<h2 class="super-content__title">
			{{data.globalNetwork.title}}
		</h2>
		<p class="super-content__text">
			{{data.globalNetwork.text}}
		</p>
	</div>
	<!-- BEGIN global-network__card -->
	<div class="global-network__card">
		<picture>
			<source srcset="./img/{{data.globalNetwork.image}}.webp" type="image/webp" />
			<img loading="lazy" decoding="async" src="./img/{{data.globalNetwork.image}}.png" alt="global network" class="global-network__card-img" />
		</picture>
	</div>
	<!-- END global-network__card -->
	<!-- BEGIN partners -->
	<div class="partners">
		{% for item in data.partners %}
		<picture>
			<source srcset="{{item.image}}.webp" type="image/webp" />
			<img loading="lazy" decoding="async" src="{{item.image}}.png" alt="partner" class="partners__item" />
		</picture>
		{% endfor %}
	</div>
	<!-- END partners -->
</section>
<!-- END global-network -->

<!-- BEGIN testimonials -->
<section class="testimonials">
	<div class="super-content">
		<h2 class="super-content__title">
			{{data.testimonials.title}}
		</h2>
		<p class="super-content__text">
			{{data.testimonials.text}}
		</p>
	</div>

	<div class="slider">
		<div class="slider__slides">
			{% for item in data.testimonials.persons %}
			<div class="slider__item">
				<div class="slider__author">
					<picture>
						<source srcset="{{item.image}}.webp" type="image/webp" />
							<img loading="lazy" decoding="async" src="{{item.image}}.png" alt="person" class="slider__author-img" />
					</picture>
					
					<div class="slider__info">
						<h4 class="slider__info-name">{{item.name}}</h4>
						<span class="slider__info-location">{{item.location}}</span>
					</div>
					<div class="slider__author-rate">
						{{item.rate}}{{ mixins.icon('star') }}
					</div>
				</div>
				<p class="slider__item-text">
					{{item.text}}
				</p>
			</div>
			{% endfor %}
		</div>
		<div class="slider__btns">
			<button class="slider__btns-prev">
				{{ mixins.icon('arrow-left') }}
			</button>
			<button class="slider__btns-next">
				{{ mixins.icon('arrow-right') }}
			</button>
		</div>
	</div>
	<!-- BEGIN  subscribe-now -->
	<div class="subscribe-now">
		<div class="super-content super-content_subscribe">
			<h2 class="super-content__title super-content__title_subscribe">
				{{data.subscribeNow.title}}
			</h2>
			<p class="super-content__text super-content__text_subscribe">
				{{data.subscribeNow.text}}
			</p>
		</div>
		<button class="button-main button-main_subscribe">
			{{data.subscribeNow.button}}
		</button>
	</div>
	<!-- END subscribe-now -->
</section>
<!-- END testimonials -->

{% endblock %}
