---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="page">

	<header class="header">
		<div class="container">
			<div class="header__top">
				<a href="#" class="logo">
					{{ mixins.icon('logo') }}
					<div class="logo__text">Lasles<strong>VPN</strong></div>
				</a>
				<nav class="header__navigation">
					<ul class="header__navigation-list">
						<li class="header__navigation-item"><a href="#" class="header__navigation-link">About</a></li>
						<li class="header__navigation-item"><a href="#" class="header__navigation-link">Features</a></li>
						<li class="header__navigation-item"><a href="#" class="header__navigation-link">Pricing</a></li>
						<li class="header__navigation-item"><a href="#" class="header__navigation-link">Testimonial</a></li>
						<li class="header__navigation-item"><a href="#" class="header__navigation-link">Help</a></li>
					</ul>
				</nav>
				<div class="header__btns">
					<button class="header__btns-btn">Sign In</button>
					<button class="super-btn">Sign Up</button>
				</div>
			</div>
		</div>
	</header>

	<section class="promo">
		<div class="container">
			<div class="promo__wrapper">
				<div class="promo__content">
					<h1 class="promo__content-title">
						Want anything to be easy with <span>LaslesVPN.</span>
					</h1>
					<p class="promo__content-text">
						Provide a network for all your needs with ease and fun using <span>LaslesVPN</span> discover interesting
						features from us.
					</p>
					<button class="started-btn">
						Get Started
					</button>
				</div>
				<div class="promo__image">
					<img src="img/promo-image.svg" alt="promo image" class="promo__image-img">
				</div>
			</div>
		</div>
	</section>

	<section class="advantages">
		<div class="container">
			<div class="advantages__wrapper">
				<div class="advantages__item">
					<div class="advantages__item-svg">
						{{ mixins.icon('person') }}
					</div>
					<div class="advantages__item-content">
						<span>90+</span>
						Users
					</div>
				</div>
				<div class="advantages__item">
					<div class="advantages__item-svg">
						{{ mixins.icon('location') }}
					</div>
					<div class="advantages__item-content">
						<span>30+</span>
						Locations
					</div>
				</div>
				<div class="advantages__item">
					<div class="advantages__item-svg">
						{{ mixins.icon('servers') }}
					</div>
					<div class="advantages__item-content">
						<span>50+</span>
						Servers
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="features">
		<div class="container">
			<div class="features__wrapper">
				<div class="features__image">
					<img src="img/features-image.svg" alt="feature image" class="features__image-img">
				</div>
				<div class="features__content">
					<h2 class="features__content-title">
						We Provide Many Features You Can Use
					</h2>
					<p class="features__content-text">
						You can explore the features that we provide with fun and have their own functions each feature.
					</p>
					<ul class="features__list">
						<li class="features__list-item">Powerfull online protection.</li>
						<li class="features__list-item">Internet without borders.</li>
						<li class="features__list-item">Supercharged VPN</li>
						<li class="features__list-item">No specific time limits.</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="rates">
		<div class="container">
			<div class="super-content">
				<h2 class="super-content__title">
					Choose Your Plan
				</h2>
				<p class="super-content__text">
					Let's choose the package that is best for you and explore it happily and cheerfully.
				</p>
			</div>
			<div class="rates__wrapper">
				<div class="rates__item">
					<img src="img/free-plan.svg" alt="" class="rates__item-img">
					<h5 class="rates__item-title">
						Free Plan
					</h5>
					<ul class="rates__list">
						<li class="rates__list-item">Unlimited Bandwitch</li>
						<li class="rates__list-item">Encrypted Connection</li>
						<li class="rates__list-item">No Traffic Logs</li>
						<li class="rates__list-item">Works on All Devices</li>
					</ul>
					<div class="rates__price">
						<h3 class="rates__price-title">
							Free
						</h3>
						<button class="super-btn rates__price-btn">
							Select
						</button>
					</div>
				</div>
				<div class="rates__item">
					<img src="img/standard-plan.svg" alt="" class="rates__item-img">
					<h5 class="rates__item-title">
						Free Plan
					</h5>
					<ul class="rates__list">
						<li class="rates__list-item">Unlimited Bandwitch</li>
						<li class="rates__list-item">Encrypted Connection</li>
						<li class="rates__list-item">No Traffic Logs</li>
						<li class="rates__list-item">Works on All Devices</li>
						<li class="rates__list-item">Works on All Devices</li>
					</ul>
					<div class="rates__price">
						<h3 class="rates__price-title">
							$9 <span> / mo</span>
						</h3>
						<button class="super-btn rates__price-btn">
							Select
						</button>
					</div>
				</div>
				<div class="rates__item">
					<img src="img/premium-plan.svg" alt="" class="rates__item-img">
					<h5 class="rates__item-title">
						Free Plan
					</h5>
					<ul class="rates__list">
						<li class="rates__list-item">Unlimited Bandwitch</li>
						<li class="rates__list-item">Encrypted Connection</li>
						<li class="rates__list-item">No Traffic Logs</li>
						<li class="rates__list-item">Works on All Devices</li>
						<li class="rates__list-item">Works on All Devices</li>
						<li class="rates__list-item">Works on All Devices</li>
					</ul>
					<div class="rates__price">
						<h3 class="rates__price-title">
							$12 <span> / mo</span>
						</h3>
						<button class="super-btn rates__price-btn">
							Select
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="global-network">
		<div class="container">
			<div class="super-content">
				<h2 class="super-content__title">
					Huge Global Network of Fast VPN
				</h2>
				<p class="super-content__text">
					See LaslesVPN everywhere to make it easier for you when you move locations.
				</p>
			</div>
			<div class="global-network__card">
				<img src="img/global-network.svg" alt="" class="global-network__card-img">
			</div>
		</div>
	</section>

	<section class="partners">
		<div class="container">
			<div class="partners__wrapper">
				<img src="../img/netflix.png" alt="netflix" class="partners__item">
				<img src="../img/reddit.png" alt="netflix" class="partners__item">
				<img src="../img/amazon.png" alt="netflix" class="partners__item">
				<img src="../img/discord.png" alt="netflix" class="partners__item">
				<img src="../img/spotify.png" alt="netflix" class="partners__item">
			</div>
		</div>
	</section>

<!-- 


Сделать цикл  отзывово


 -->

	<section class="testimonials">
		<div class="container">
			<div class="super-content">
				<h2 class="super-content__title">
					Trusted by Thousands of Happy Customer
				</h2>
				<p class="super-content__text">
					These are the stories of our customers who have joined us with great pleasure when using this crazy feature.
				</p>
			</div>
			<div class="testimonials__slider">
				<div class="testimonials__item">
					<div class="testimonials__author">
						<img src="../img/testimonial.png" alt="Robert" class="testimonials__author-img">
						<div class="testimonials__info">
							<h4 class="testimonials__info-name">Viezh Robert 1</h4>
							<span class="testimonials__info-location">Warsaw, Poland</span>
						</div>
						<div class="testimonials__author-rate">
							4.5
						</div>
					</div>
					<p class="testimonials__item-text">
						“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have
						been no problems. LaslesVPN always the best”.
					</p>
				</div>
				<div class="testimonials__item">
					<div class="testimonials__author">
						<img src="../img/testimonial.png" alt="Robert" class="testimonials__author-img">
						<div class="testimonials__info">
							<h4 class="testimonials__info-name">Viezh Robert 2</h4>
							<span class="testimonials__info-location">Warsaw, Poland</span>
						</div>
						<div class="testimonials__author-rate">
							4.5
						</div>
					</div>
					<p class="testimonials__item-text">
						“I like it because I like to travel far and still can connect with high speed.”.
					</p>
				</div>
				<div class="testimonials__item">
					<div class="testimonials__author">
						<img src="../img/testimonial.png" alt="Robert" class="testimonials__author-img">
						<div class="testimonials__info">
							<h4 class="testimonials__info-name">Viezh Robert 3</h4>
							<span class="testimonials__info-location">Warsaw, Poland</span>
						</div>
						<div class="testimonials__author-rate">
							4.5{{ mixins.icon('star') }} 
						</div>
					</div>
					<p class="testimonials__item-text">
						“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have
						been no problems. LaslesVPN always the best”.
					</p>
				</div>
				<div class="testimonials__item">
					<div class="testimonials__author">
						<img src="../img/testimonial.png" alt="Robert" class="testimonials__author-img">
						<div class="testimonials__info">
							<h4 class="testimonials__info-name">Viezh Robert 4</h4>
							<span class="testimonials__info-location">Warsaw, Poland</span>
						</div>
						<div class="testimonials__author-rate">
							4.5
						</div>
					</div>
					<p class="testimonials__item-text">
						“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have
						been no problems. LaslesVPN always the best”.
					</p>
				</div>
			</div>
			<div class="testimonials__btns">
				<button class="testimonials__btns-prev">
					<i class="fas fa-arrow-left"></i>
				</button>
				<button class="testimonials__btns-next">
					<i class="fas fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="subscribe-now">
				<div class="subscribe-now__content">
					<h2 class="subscribe-now__content-title">
						Subscribe Now for Get Special Features!
					</h2>
					<p class="subscribe-now__content-text">
						Let's subscribe with us and find the fun.
					</p>
				</div>
				<button class="started-btn subscribe-now__btn">
					Subscribe Now
				</button>
			</div>
			<div class="footer__wrapper">
				<div class="footer__info">
					<a href="#" class="logo footer__logo">
						{{ mixins.icon('logo') }}
						<div class="logo__text">Lasles<strong>VPN</strong></div>
					</a>
					<p class="footer__info-text">
						<strong>LaslesVPN</strong> is a private virtual network that has unique features and has high security.
					</p>
					<div class="footer__socials">
						<a href="#" class="footer__socials-link">
							{{ mixins.icon('facebook') }}
						</a>
						<a href="#" class="footer__socials-link">
							{{ mixins.icon('twit') }}
						</a>
						<a href="#" class="footer__socials-link">
							{{ mixins.icon('inst') }}
						</a>
					</div>
					<a href="#" class="footer__copyright">
						©2020Lasles<strong>VPN</strong>
					</a>
				</div>
				<div class="footer__navigation">
					<div class="footer__item">
						<h5 class="footer__item-title">
							Product
						</h5>
						<ul class="footer__list">
							<li class="footer__list-item">
								<a class="footer__list-link" href="">Download</a>
							</li>
							<li class="footer__list-item">
								<a class="footer__list-link" href="">Pricing</a>
							</li>
							<li class="footer__list-item">
								<a class="footer__list-link" href="">Locations</a>
							</li>
							<li class="footer__list-item">
								<a class="footer__list-link" href="">Server</a>
							</li>
							<li class="footer__list-item">
								<a class="footer__list-link" href="">Countries</a>
							</li>
							<li class="footer__list-item">
								<a class="footer__list-link" href="">Blog</a>
							</li>
						</ul>
					</div>
					<div class="footer__item">
						<h5 class="footer__item-title">
							Engage
						</h5>
						<ul class="footer__list">
							<li class="footer__list-item">
								<a href="#" class="footer__list-link">LasterVPN ?</a>
							</li>
							<li class="footer__list-item">
								<a href="#" class="footer__list-link">FAQ</a>
							</li>
							<li class="footer__list-item">
								<a href="#" class="footer__list-link">Tutorials</a>
							</li>
							<li class="footer__list-item">
								<a href="#" class="footer__list-link">About Us</a>
							</li>
							<li class="footer__list-item">
								<a href="#" class="footer__list-link">Privacy Policy</a>
							</li>
							<li class="footer__list-item">
								<a href="#" class="footer__list-link">Terms of Service</a>
							</li>
						</ul>
					</div>
					<div class="footer__item">
						<h5 class="footer__item-title">
							Earn Money
						</h5>
						<ul class="footer__list">
							<li class="footer__list-item">
								<a href="#" class="footer__list-link">Affiliate</a>
							</li>
							<li class="footer__list-item">
								<a href="#" class="footer__list-link">Become Partner</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<!-- {# variable example #}
	<h1>{{title}}</h1>

	
	{# partial example #}
	{% include "partials/_header.html" %}

	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #} -->

{% endblock %}
