{% set header = {
	signIn: 'Sign In',
	signUp: 'Sign Up',
	navigation: [
		{
			url: '/#',
			title: 'About'
		},
		{
			url: '/#',
			title: 'Features'
		},
		{
			url: '/#',
			title: 'Pricing'
		},
		{
			url: '/#',
			title: 'Testimonial'
		},
		{
			url: '/#',
			title: 'Help'
		}
	]
} %}

{% set promo = {
	image: 'img/promo-image.svg',
	title: 'Want anything to be easy with LaslesVPN.',
	text: 'Provide a network for all your needs with ease and fun using LaslesVPN discover interesting
	features from us.',
	button: 'Get Started'
}%}

{% set advantages = [
	{
		icon: 'person',
		text: 'Users',
		number: 90
	},
	{
		icon: 'location',
		text: 'Locations',
		number: 30
	},
	{
		icon: 'servers',
		text: 'Servers',
		number: 50
	}
] %}

{% set features = {
	image: 'img/features-image.svg',
	title: 'We Provide Many Features You Can Use',
	text: 'You can explore the features that we provide with fun and have their own functions each feature.',
	list: [
		{
			title: 'Powerfull online protection.'
		},
		{
			title: 'Internet without borders.'
		},
		{
			title: 'Supercharged VPN.'
		},
		{
			title: 'No specific time limits.'
		}
	]
}%}

{% set rates = {
	title: 'Choose Your Plan',
	text: "Let's choose the package that is best for you and explore it happily and cheerfully.",
	plans: [
		{
			image: 'img/free-plan.svg',
			title: 'Free Plan',
			price: 'Free',
			button: 'Select',
			list: [
				{
					title: 'Unlimited Bandwitch'
				},
				{
					title: 'Encrypted Connection'
				},
				{
					title: 'Yes Traffic Logs'
				},
				{
					title: 'Works on All Devices'
				}
			]
		},
		{
			image: 'img/standard-plan.svg',
			title: 'Standard Plan',
			price: '$9',
			month: '/ mo',
			button: 'Select',
			list: [
				{
					title: 'Unlimited Bandwitch'
				},
				{
					title: 'Encrypted Connection'
				},
				{
					title: 'Yes Traffic Logs'
				},
				{
					title: 'Works on All Devices'
				},
				{
					title: 'Connect Anyware'
				}
			]
		},
		{
			image: 'img/premium-plan.svg',
			title: 'Premium Plan',
			price: '$12',
			month: '/ mo',
			button: 'Select',
			list: [
				{
					title: 'Unlimited Bandwitch'
				},
				{
					title: 'Encrypted Connection'
				},
				{
					title: 'Yes Traffic Logs'
				},
				{
					title: 'Works on All Devices'
				},
				{
					title: 'Connect Anyware'
				},
				{
					title: 'Get New Features'
				}
			]
		}
	]
}%}

{% set globalNetwork = {
	image: 'img/global-network.svg',
	title: 'Huge Global Network of Fast VPN',
	text: 'See LaslesVPN everywhere to make it easier for you when you move locations.'
}%}

{% set partners = [
	{
		image: '../img/netflix.png'
	},
	{
		image: '../img/reddit.png'
	},
	{
		image: '../img/amazon.png'
	},
	{
		image: '../img/discord.png'
	},
	{
		image: '../img/spotify.png'
	}
]%}


{% set testimonials = {
	title: 'Trusted by Thousands of Happy Customer',
	text: 'These are the stories of our customers who have joined us with great pleasure when using this crazy feature.',
	persons: [
		{
			name: 'Viezh Robert',
			location: 'Warsaw, Poland',
			rate: 4.5,
			text: '“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have
			been no problems. LaslesVPN always the best”.',
			image: '../img/testimonial1.png'
		},
		{
			name: 'Yessica Christy',
			location: 'Shanxi, China',
			rate: 4.5,
			text: '“I like it because I like to travel far and still can connect with high speed.”.',
			image: '../img/testimonial2.png'
		},
		{
			name: 'Kim Young Jou',
			location: 'Seoul, South Korea',
			rate: 4.5,
			text: '“This is very unusual for my business that currently requires a virtual private network that has high security.”.',
			image: '../img/testimonial3.png'
		},
		{
			name: 'Viezh Robert',
			location: 'Warsaw, Poland',
			rate: 4.5,
			text: '“Wow... I am very happy to use this VPN, it turned out to be	more than my expectations and so far there have',
			image: '../img/testimonial1.png'
		}
	]
} %}

{% set subscribeNow = {
	title: 'Subscribe Now for Get Special Features!',
	text: "Let's subscribe with us and find the fun.",
	button: 'Subscribe Now'
}%}

{% set footer = {
	mainText: 'LaslesVPN',
	text: 'is a private virtual network that has unique features and has high security.',
	socials: [
		{
			url: '#/',
			icon: 'facebook'
		},
		{
			url: '#/',
			icon: 'twit'
		},
		{
			url: '#/',
			icon: 'inst'
		}
	],
	lists: [
		{
			title: 'Product',
			list: [
				{
					title: 'Download',
					url: '#/'
				},
				{
					title: 'Pricing',
					url: '#/'
				},
				{
					title: 'Locations',
					url: '#/'
				},
				{
					title: 'Server',
					url: '#/'
				},
				{
					title: 'Countries',
					url: '#/'
				},
				{
					title: 'Blog',
					url: '#/'
				}
			]
		},
		{
			title: 'Engage',
			list: [
				{
					title: 'LasterVPN ?',
					url: '#/'
				},
				{
					title: 'FAQ',
					url: '#/'
				},
				{
					title: 'Tutorials',
					url: '#/'
				},
				{
					title: 'About Us',
					url: '#/'
				},
				{
					title: 'Privacy Policy',
					url: '#/'
				},
				{
					title: 'Terms of Service',
					url: '#/'
				}
			]
		},
		{
			title: 'Earn Money',
			list: [
				{
					title: 'Affiliate',
					url: '#/'
				},
				{
					title: 'Become Partner',
					url: '#/'
				}
			]
		}
	]
}%}
