{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#fff" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" media="all" href="css/app.css" />
  {% block media %} {% include "../partials/_media-tags.html" %} {% endblock %}
  <!-- {# {% include "../partials/_media-tags.html" %} #} -->
</head>

<body>

  <!-- BEGIN  page -->
  <div class="page">

    <!-- BEGIN  container -->
    <div class="container">
      {% block header %}
      {% include "../partials/_header.html" %}
      {% endblock %}

      <!-- BEGIN content -->
      <div class="out">
        {% block content %}{% endblock %}
      </div>
      <!-- END content -->

    </div>
    {% block footer %}
    {% include "../partials/_footer.html" %}
    {% endblock %}
    <!-- END container -->

  </div>
  <!-- END page -->



  <!-- BEGIN scripts -->
  <script>
    // navigator.serviceWorker.register("./sw/sw.js")

    // if ('serviceWorker' in navigator) {
    //   navigator.serviceWorker.register('/sw/sw.js', { scope: '/sw/' }).then(function (reg) {

    //     if (reg.installing) {
    //       console.log('Service worker installing');
    //     } else if (reg.waiting) {
    //       console.log('Service worker installed');
    //     } else if (reg.active) {
    //       console.log('Service worker active');
    //     }

    //   }).catch(function (error) {
    //     // registration failed
    //     console.log('Registration failed with ' + error);
    //   });
    // }

  </script>
  <script type="text/javascript" src="js/app.js"></script>
  <!-- END scripts -->

</body>

</html>
