.super-content
	max-width: 550px
	width: 100%
	margin: 0 auto
	padding: $superContentPadding
	text-align: center
	&__title
		max-width: 420px
		width: 100%
		margin: 0 auto 20px

		+rubik-medium
		+css-lock(26, 36, 360, 768)
		+lh(50)
		color: $mainColorTitle
		+xs
			+lh(35)

	&_features
		text-align: left
		margin: 0 0 20px
		padding: 0
	&__title_features
		margin: 0 0 20px

	&_subscribe
		text-align: left
		max-width: 370px
		padding: 0
		margin: 0
		+sm
			text-align: center

	&__title_subscribe
		margin: 0 0 10px
		+css-lock(24, 32, 360, 768)
		+lh(45)
		+sm
			+lh(35)
	&__text_subscribe
		margin-bottom: 10px
